host_port: 8787
project_root_dir: {{ project_root_dir }}
project_dir_container: {{ project_dir_container }}
home_dir_container: {{ home_dir_container }}
image_tag: {{ image_tag }}
volume_mounts:
  - local: {{ project_root_dir }}
    container: {{ project_dir_container }}
  - local: {{ project_root_dir }}/bin
    container: {{ project_dir_container }}/bin
  - local: {{ project_root_dir }}/.env
    container: {{ project_dir_container }}/.env
  - local: {{ project_root_dir }}/share
    container: {{ project_dir_container }}/share
  - local: ~/.ssh
    container: {{ home_dir_container }}/.ssh
  - local: ~/.gitconfig
    container: {{ home_dir_container }}/.gitconfig