<div style="text-align: center; width: 75%; margin: auto;">
  <p style="font-size: 1.2em; margin-bottom: 1em;">Subscribe to my monthly newsletter</p>
  <form action="{{ site.Params.footer.newsletter.mailchimpURL }}" method="post" id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="form-group" style="margin-bottom: 1em;">
      <input type="email" class="form-control" id="mce-EMAIL" name="EMAIL" aria-describedby="emailHelp"
        placeholder="Enter email" style="margin: auto; width: 75%;" />
    </div>
    <small id="emailHelp" class="form-text text-muted" style="margin-bottom: 1em;">
      Clicking submit takes you to Mailchimp.
    </small>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>