{{- with (.GetTerms "series") -}} {{- range . -}}
<!-- Series Notification -->
<p>
  This post is part of the
  <a href="{{ .Permalink }}" style="font-weight: bold">{{ .LinkTitle }}</a>
  series.
</p>
<!-- Series List -->
{{- $seriesPages := where .Pages "Kind" "page" -}} {{- $sortedSeriesPages :=
sort $seriesPages "Date" "asc" -}}
<!-- Sort the filtered pages -->
<!-- Filter out list pages -->
<ol>
  {{- range $sortedSeriesPages -}}
  <li>
    {{- if eq .File.UniqueID $.File.UniqueID -}}
    <b>{{ .Title }}</b>
    {{- else -}}
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{- end -}}
  </li>
  {{- end -}}
</ol>
{{- end -}} {{- end -}}
