{{- with (.GetTerms "series") -}} {{- range . -}}
<!-- Series Notification -->
<div class="notice--info">
  <p>
    This post is part of the
    <a href="{{ .Permalink }}" style="font-weight: bold">{{ .LinkTitle }}</a>
    series.
  </p>
  <!-- Series List -->
  {{- $series := .Pages.ByDate -}}
  <ol>
    {{- range $series -}}
    <li>
      {{- if eq .File.UniqueID $.File.UniqueID -}}
      <b>{{ .Title }}</b>
      {{- else -}}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{- end -}}
    </li>
    {{- end -}}
  </ol>
</div>
{{- end -}} {{- end -}}
